doctype html
html(lang="en")
  head
    block head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    link(rel="stylesheet", href="/css/common.css")
    title #{title}

    if env.NODE_ENV === 'development'
      script(src="/js/dev_reload.js") 
      
  body 
    block content