.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  height: 60px;
  background: white;
  box-shadow: 0 0 4px rgba($color: #000000, $alpha: 0.3);
  display: flex;

  ul {
    display: flex;

    li {
      margin: 10px;
    }
  }
}

